version: 2.1

orbs:
  helm: circleci/helm@3.0.0

jobs:
  build:
    docker:
      - image: cimg/base:2023.09
    steps:
      - checkout
      - helm/install-helm-client
      - helm/install-helm-plugin:
          helm_plugin_url: https://github.com/helm-unittest/helm-unittest
      - run:
          name: Run unit tests (1)
          command: helm unittest clusters
      - run:
          name: Run unit tests (2)
          command: helm unittest global

workflows:
  helm_test:
    jobs:
      - build